body{
    background-color: #f8c84e;
}
.done{
    text-decoration: line-through;
}

li{
    cursor: pointer;

}
h1{
    font-family: "Rock Salt", "Indie Flower", "Shadows Into Light", cursive;
}
li {
    width: 20em;
    background-color: #ffd66b;
    padding: 0.5em;
    margin-bottom: 10px;
    border-radius: 6px;
    color: #b83b5e;
    font-weight: bolder;
  }
ul button {
  font-family: "Indie Flower", "Shadows Into Light", cursive;
  background-color: transparent;
  border: 3px dashed #6a2c70;
  border-radius: 4px;
  height: 2em;
  float: right;
  margin-top: 0.2em;
  font-weight: bolder;
}

ul button:hover {
  background-color: #6a2c70;
  color: white;
}

#text{
    width: 24em;
    font-family: "Rock Salt", "Indie Flower", "Shadows Into Light", cursive;
    font-size: 1em;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }